
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family:  proxima,Arial,Tahoma,Verdana,sans-serif;
    gap: 20px;
}
header {
    font-size: 30px;
    color: rgb(254, 55, 55);
}
main {
    display: flex;
    gap: 20px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(247 247 247);
    width: 600px;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
}
.truPresKey {
    color: #2bcc2b;
    text-align: center;
    padding: 3px;
}
.falsePresKey {
    background-color: #F36747;
    text-align: center;
    padding: 3px;
    border-radius: 3px;
}
.backColor {
    background-color: #5bc538;
    color: white;
    text-align: center;
    padding: 2px;
    border-radius: 3px;
}
.normalText {
    text-align: center;
    padding: 3px;
    border-radius: 3px;
}
.block-with-speed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100px;
    width: 200px;
    background-color:rgb(170 255 170);
    padding: 10px;
    border-radius: 10px;
}
.speed, .quolaty {
    font-size: 20px;
}
